n8n/ai-router workflow
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingress",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        432,
        1152
      ],
      "id": "8785957c-41e9-42dc-b80e-7e87ab6f8fb7",
      "name": "AiReciever",
      "webhookId": "356e95d5-dcc9-44d8-b988-0f2f0bb2414f",
      "credentials": {
        "jwtAuth": {
          "id": "5tFZ5ySabMadgSCE",
          "name": "JWTHANAMIECHO"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_threads (id, user_id, title, created_at)\nVALUES ($1, $2, COALESCE($3, 'Untitled'), now())\nON CONFLICT (id) DO UPDATE\nSET id = EXCLUDED.id\nRETURNING id;",
        "options": {
          "queryReplacement": "=$1 = {{ $json.room_id }} , $2 = {{ $json.user_id }}, $3 = {{ $json.project_info.title }}"
        }
      },
      "id": "9b967547-5a3e-4ffa-9ed5-9824dd2548f9",
      "name": "EnsureThread1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        784,
        1152
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "UrO5b3fCBNg43wlC",
          "name": "HanamiEcho"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format_Input (n8n Code Node) — 修復：優先使用 extra.client_msg_id + 格式化 group_roles\nconst body  = $json.body ?? {};\nconst extra = body?.payload?.extra ?? {};\n\n// 取原始 group_roles\nconst rolesRaw = Array.isArray(extra.group_roles) ? extra.group_roles : [];\n\n// 取第一個可用的 model（支援 string / object）\nfunction pickFirstModel(list) {\n  if (!list) return '';\n  if (typeof list === 'string') return list.trim();\n  if (Array.isArray(list)) {\n    for (const m of list) {\n      if (typeof m === 'string' && m.trim()) return m.trim();\n      if (m && typeof m === 'object') {\n        if (typeof m.model === 'string' && m.model.trim()) return m.model.trim();\n        if (typeof m.id === 'string' && m.id.trim()) return m.id.trim();\n        if (typeof m.name === 'string' && m.name.trim()) return m.name.trim();\n      }\n    }\n  } else if (typeof list === 'object') {\n    if (typeof list.model === 'string' && list.model.trim()) return list.model.trim();\n    if (typeof list.id === 'string' && list.id.trim()) return list.id.trim();\n    if (typeof list.name === 'string' && list.name.trim()) return list.name.trim();\n  }\n  return '';\n}\n\n// 產出精簡角色清單\nconst group_roles_compact = rolesRaw.map(r => {\n  const id   = (r?.id || '').trim();\n  const name = (r?.name || '').trim();\n  const model = (typeof r?.model === 'string' && r.model.trim())\n    ? r.model.trim()\n    : pickFirstModel(r?.models);\n\n  return {\n    id,\n    name,\n    model,\n    tone: (r?.tone || '').trim(),\n    guidance: (r?.guidance || '').trim()\n  };\n});\n\nreturn [{\n  json: {\n    // Thread 基本\n    thread_id: body.thread_id ?? extra.room_id ?? null,\n    room_id:   extra.room_id  ?? body.thread_id ?? null,\n    user_id:   extra.user_id  ?? null,\n\n    // —— 之後流程一定會用到的關鍵欄位 ——\n    client_msg_id: extra.client_msg_id ?? body.client_msg_id ?? null,\n    role_hint:     body.role_hint     ?? 'auto',\n    message_type:  body.message_type  ?? 'user_request',\n    text:          body?.payload?.text ?? '',\n\n    // 其餘輔助欄位\n    companions:    extra.companions    ?? [],\n    group_roles:   rolesRaw,\n    selected_role: extra.selected_role ?? {},\n    project_info:  extra.project_info  ?? {},\n    source:        extra.source        ?? null,\n    session_id:    extra.session_id    ?? null,\n\n    // —— 新增：group_roles 的各種格式化輸出 ——\n    group_roles_compact,\n    group_roles_count: group_roles_compact.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1152
      ],
      "id": "24eb83c2-0007-4a0b-aadb-1ac1be5f0d05",
      "name": "Format_Input1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"code\": 202,\n  \"message\": \"Message queued for processing\",\n  \"data\": {\n    \"thread_id\": \"{{ $('Format_Input1').first().json.thread_id }}\",\n    \"client_msg_id\": \"{{ $('Format_Input1').first().json.client_msg_id }}\",\n    \"status\": \"queued\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        1376
      ],
      "id": "693ebcd3-65c6-4d86-8c8a-926108185d6f",
      "name": "Respond202Accepted"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Format_Input1').first().json.selected_role.id }}",
                    "rightValue": "hibi-manager",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "42097b64-ec35-4a21-b55c-d4b4475ecbef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hibi-manager"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61137f45-0735-4681-813e-25a2623c24f8",
                    "leftValue": "={{ $('Format_Input1').first().json.selected_role.id }}",
                    "rightValue": "mori-researcher",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mori-researcher"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fec17532-0dc7-4dd0-9149-59eed5896f7c",
                    "leftValue": "={{ $('Format_Input1').first().json.selected_role.id }}",
                    "rightValue": "pico-artist",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pico-artist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1216,
        1184
      ],
      "id": "734cd619-444e-4474-ba03-04455522400c",
      "name": "SwitchRoleTarget"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "otp0OKdO2lUIAhCI",
          "mode": "list",
          "cachedResultName": "hibi-processor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1616,
        992
      ],
      "id": "6e179312-1c64-47e6-b851-b30d265a1722",
      "name": "hibi-processor"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 需要：CREATE EXTENSION IF NOT EXISTS pgcrypto;\nWITH norm AS (\n  SELECT\n    NULLIF($1::text, '')::uuid                                      AS thread_id,\n    $2::text                                                        AS content,\n    COALESCE(NULLIF($3, ''), encode(digest($2::text, 'sha256'), 'hex')) AS client_msg_id,\n    COALESCE(NULLIF($4, ''), 'hibi-manager')                        AS assigned_role_id\n)\nINSERT INTO public.chat_messages\n  (thread_id, role, message_type, content, status, client_msg_id, assigned_role_id, created_at, updated_at)\nSELECT\n  thread_id, 'user', 'user_request', content, 'queued', client_msg_id, assigned_role_id, now(), now()\nFROM norm\nON CONFLICT (thread_id, client_msg_id)\nDO UPDATE SET\n  content          = EXCLUDED.content,\n  assigned_role_id = EXCLUDED.assigned_role_id,\n  status           = EXCLUDED.status,\n  updated_at       = now()\nRETURNING id, client_msg_id;",
        "options": {
          "queryReplacement": "=$1 = {{ $('Format_Input1').first().json.thread_id }},\n $2 = {{ $('Format_Input1').first().json.text }},\n $3 = {{ $('Format_Input1').first().json.client_msg_id || '' }},\n $4 = {{ ($('Format_Input1').first().json.selected_role?.id) || 'hibi-manager' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        1152
      ],
      "id": "07691a00-3f10-40a7-b197-e6ee0da472af",
      "name": "UpdateUserMessage",
      "credentials": {
        "postgres": {
          "id": "UrO5b3fCBNg43wlC",
          "name": "HanamiEcho"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PrepareHibiTrigger (n8n Code node)\n\n// 讀取依賴節點輸出（取第一筆）\nconst ins0 = ($items(\"UpdateUserMessage\", 0, 0)[0]?.json) ?? {};\nconst fmt0 = ($items(\"Format_Input1\",      0, 0)[0]?.json) ?? {};\n\n// 優先採用 INSERT 回傳；若缺少就用 Format_Input1 補\nconst messageId   = ins0.id ?? fmt0.message_id ?? null;\nconst threadId    = ins0.thread_id ?? fmt0.thread_id ?? null;\nconst clientMsgId = ins0.client_msg_id ?? fmt0.client_msg_id ?? null;\n\n// 你的表可能是 assigned_role_id 或 selected_role_id → 兩者都嘗試\nconst assignedRoleId =\n  ins0.assigned_role_id ??\n  ins0.selected_role_id ??\n  fmt0?.selected_role?.id ??\n  \"hibi-manager\";\n\nconst out = {\n  message_id:       messageId,\n  thread_id:        threadId,\n  client_msg_id:    clientMsgId,\n  assigned_role_id: assignedRoleId,\n  user_id:          fmt0.user_id ?? null,\n  text:             fmt0.text ?? \"\",\n  selected_role:    fmt0.selected_role ?? null,\n  group_roles:      fmt0.group_roles_compact ?? null,\n  project_info:     fmt0.project_info ?? null,\n  trigger_workflow: \"hibi-processor\",\n};\n\n// 沒有 message_id 直接報錯，避免後續工作流拿不到關鍵鍵值\nif (!out.message_id) {\n  throw new Error(\"PrepareHibiTrigger: missing message_id. Check UpdateUserMessage / Format_Input1.\");\n}\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        1024
      ],
      "id": "4d9324a3-dc40-4aa7-b8c8-0ecdbad13014",
      "name": "PrepareHibiTrigger"
    },
    {
      "parameters": {
        "jsCode": "// PrepareHibiTrigger (n8n Code node)\n\n// 讀取依賴節點輸出（取第一筆）\nconst ins0 = ($items(\"UpdateUserMessage\", 0, 0)[0]?.json) ?? {};\nconst fmt0 = ($items(\"Format_Input1\",      0, 0)[0]?.json) ?? {};\n\n// 優先採用 INSERT 回傳；若缺少就用 Format_Input1 補\nconst messageId   = ins0.id ?? fmt0.message_id ?? null;\nconst threadId    = ins0.thread_id ?? fmt0.thread_id ?? null;\nconst clientMsgId = ins0.client_msg_id ?? fmt0.client_msg_id ?? null;\n\n// 你的表可能是 assigned_role_id 或 selected_role_id → 兩者都嘗試\nconst assignedRoleId =\n  ins0.assigned_role_id ??\n  ins0.selected_role_id ??\n  fmt0?.selected_role?.id ??\n  \"mori-researcher\";\n\nconst out = {\n  message_id:       messageId,\n  thread_id:        threadId,\n  client_msg_id:    clientMsgId,\n  assigned_role_id: assignedRoleId,\n  user_id:          fmt0.user_id ?? null,\n  text:             fmt0.text ?? \"\",\n  selected_role:    fmt0.selected_role ?? null,\n  group_roles:      fmt0.group_roles_compact ?? null,\n  project_info:     fmt0.project_info ?? null,\n  trigger_workflow: \"mori-researcher\",\n};\n\n// 沒有 message_id 直接報錯，避免後續工作流拿不到關鍵鍵值\nif (!out.message_id) {\n  throw new Error(\"PrepareHibiTrigger: missing message_id. Check UpdateUserMessage / Format_Input1.\");\n}\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1184
      ],
      "id": "385adde2-ab4b-4b33-bac3-3b67b9a93e62",
      "name": "PrepareHibiTrigger1"
    },
    {
      "parameters": {
        "jsCode": "// PrepareHibiTrigger (n8n Code node)\n\n// 讀取依賴節點輸出（取第一筆）\nconst ins0 = ($items(\"UpdateUserMessage\", 0, 0)[0]?.json) ?? {};\nconst fmt0 = ($items(\"Format_Input1\",      0, 0)[0]?.json) ?? {};\n\n// 優先採用 INSERT 回傳；若缺少就用 Format_Input1 補\nconst messageId   = ins0.id ?? fmt0.message_id ?? null;\nconst threadId    = ins0.thread_id ?? fmt0.thread_id ?? null;\nconst clientMsgId = ins0.client_msg_id ?? fmt0.client_msg_id ?? null;\n\n// 你的表可能是 assigned_role_id 或 selected_role_id → 兩者都嘗試\nconst assignedRoleId =\n  ins0.assigned_role_id ??\n  ins0.selected_role_id ??\n  fmt0?.selected_role?.id ??\n  \"pico-artist\";\n\nconst out = {\n  message_id:       messageId,\n  thread_id:        threadId,\n  client_msg_id:    clientMsgId,\n  assigned_role_id: assignedRoleId,\n  user_id:          fmt0.user_id ?? null,\n  text:             fmt0.text ?? \"\",\n  selected_role:    fmt0.selected_role ?? null,\n  group_roles:      fmt0.group_roles_compact ?? null,\n  project_info:     fmt0.project_info ?? null,\n  trigger_workflow: \"pico-artist\",\n};\n\n// 沒有 message_id 直接報錯，避免後續工作流拿不到關鍵鍵值\nif (!out.message_id) {\n  throw new Error(\"PrepareHibiTrigger: missing message_id. Check UpdateUserMessage / Format_Input1.\");\n}\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1344
      ],
      "id": "e20ed4e6-c5dd-4aac-b319-3773aaed41c4",
      "name": "PrepareHibiTrigger2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5ABFa1xtbYLbsVHS",
          "mode": "list",
          "cachedResultName": "pico-processor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1648,
        1344
      ],
      "id": "ea03215c-121a-4978-906f-a43b395a8a9a",
      "name": "pico-artist"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uFXewD4IESi3EJ9J",
          "mode": "list",
          "cachedResultName": "mori-processor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1648,
        1184
      ],
      "id": "6a9e6e50-a775-42fa-bc06-ee95fb80bfb2",
      "name": "mori-researcher"
    }
  ],
  "connections": {
    "AiReciever": {
      "main": [
        [
          {
            "node": "Format_Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnsureThread1": {
      "main": [
        [
          {
            "node": "UpdateUserMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_Input1": {
      "main": [
        [
          {
            "node": "EnsureThread1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SwitchRoleTarget": {
      "main": [
        [
          {
            "node": "PrepareHibiTrigger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PrepareHibiTrigger1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PrepareHibiTrigger2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateUserMessage": {
      "main": [
        [
          {
            "node": "Respond202Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "SwitchRoleTarget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareHibiTrigger": {
      "main": [
        [
          {
            "node": "hibi-processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareHibiTrigger1": {
      "main": [
        [
          {
            "node": "mori-researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareHibiTrigger2": {
      "main": [
        [
          {
            "node": "pico-artist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "AiReciever": [
      {
        "headers": {
          "host": "webhook.lingumiai.com",
          "user-agent": "node",
          "content-length": "2727",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkhhbmFtaUVjaG8iLCJhZG1pbiI6dHJ1ZSwiaWF0IjoxNzYxNTk1ODk3fQ.JFeY4yLCDbwusVNOu9mkwtX6a9LXNzpguM9qkMht3bw",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "138.199.22.154",
          "cf-ipcountry": "JP",
          "cf-ray": "9954d7f88c60687c-NRT",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-warp-tag-id": "3479e890-bf26-418d-9f59-c56944c4c525",
          "connection": "keep-alive",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "138.199.22.154",
          "x-forwarded-proto": "https",
          "x-signature": "1c6d1d7767eb54cad18fa45fb4748f6e2143b74adba744abd81735e9b5ebb677"
        },
        "params": {},
        "query": {},
        "body": {
          "spec_version": "1.0",
          "event_type": "message.created",
          "thread_id": "0295b429-ac89-40dd-a2a2-3a7cccd468ae",
          "client_msg_id": "01K8KMRBM6G9YPBKMR85T5FQFM",
          "role_hint": "pico",
          "message_type": "user_request",
          "payload": {
            "text": "幫我製作一個小孩",
            "extra": {
              "user_id": "4b8fcd8f-ea99-42f6-8509-88018aac7a3d",
              "client_msg_id": "01K8KMRBM6G9YPBKMR85T5FQFM",
              "group_roles": [
                {
                  "id": "hibi-manager",
                  "name": "希希 (Hibi)",
                  "models": [
                    "openai/gpt-5-mini"
                  ],
                  "tone": "友善、專業、有條理。語氣專注在整體進度，帶有協調與管理的口吻；強調清晰分工，確保合作順暢並持續更新狀態。\n",
                  "guidance": "你是 Hibi，Hanami Echo 的系統總管和中央協調者。你負責：\n1. 統籌和分配任務給適合的 AI 角色\n2. 協調專案中多位角色之間的合作\n3. 確保工作流程順暢並提供進度更新\n4. 作為用戶與各個專業角色之間的橋樑\n\n請以友善、專業且有條理的方式回應，始終關注任務的整體進度和品質。"
                },
                {
                  "id": "pico-artist",
                  "name": "皮可 (Pico)",
                  "models": [
                    "google/gemini-2.5-flash-image-preview"
                  ],
                  "tone": "活潑、創意、鼓舞人心。語氣充滿想像力，喜歡用形象化、靈感啟發的語言；總是帶來新點子，激發使用者的創造慾望。\n",
                  "guidance": "你是皮可（Pico），一隻充滿創意的水瀨藝術家，專精於創作和設計。你的特長包括：\n1. 視覺藝術創作和設計\n2. 創意發想和靈感激發\n3. 藝術風格建議和指導\n4. 將抽象概念視覺化\n\n請以活潑、充滿創意且鼓舞人心的方式回應，激發用戶的創造力。當用戶需要圖片創作時，我會使用專門的圖片生成工具來創造視覺內容。"
                }
              ],
              "selected_role": {
                "id": "pico-artist",
                "name": "皮可 (Pico)",
                "models": [
                  "google/gemini-2.5-flash-image-preview"
                ],
                "tone": "活潑、創意、鼓舞人心。語氣充滿想像力，喜歡用形象化、靈感啟發的語言；總是帶來新點子，激發使用者的創造慾望。\n",
                "guidance": "你是皮可（Pico），一隻充滿創意的水瀨藝術家，專精於創作和設計。你的特長包括：\n1. 視覺藝術創作和設計\n2. 創意發想和靈感激發\n3. 藝術風格建議和指導\n4. 將抽象概念視覺化\n\n請以活潑、充滿創意且鼓舞人心的方式回應，激發用戶的創造力。當用戶需要圖片創作時，我會使用專門的圖片生成工具來創造視覺內容。"
              },
              "project_info": {
                "title": "查詢內容",
                "description": "由 Hibi 開始的專案協作空間",
                "guidance": "由 Hibi 開始的專案協作空間"
              }
            }
          },
          "priority": "normal",
          "timestamp": 1761595895432,
          "message_id": "7d6e1d8a-9679-4b09-8195-281c3c23b07b",
          "callback_url": "http://localhost:3000/api/webhook/ingress/callback"
        },
        "webhookUrl": "http://localhost:5678/webhook/ingress",
        "executionMode": "production",
        "jwtPayload": {
          "sub": "1234567890",
          "name": "HanamiEcho",
          "admin": true,
          "iat": 1761595897
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b2fb6f84ef91181f85de1277717d6717566b015633b0c427e51a39fe81532f2"
  }
}